h1{
  text-align:center;
  font-family: Times;
  font-size: 300%;
  background-color: white;
  color: black;
}

#meal{
  background-image: url("https://images.typeform.com/images/sxsWmgf57pjv/image/default-firstframe.png");
  background-repeat: no-repeat;
  background-size: cover;
}

p{
  font-weight: bold;
  align-self: auto;
  text-align: left;
  font-size: 175%;
  color: white;
}
 h2{
   font-weight: bold;
   align-self: auto;
   text-align: left;
   font-size: 175%;
   color: white;
 }
h3{
  font-weight: bold;
  align-self: auto;
  text-align: left;
  font-size: 150%;
  color: white;
}
 .options{
   text-align: center;
   color: black;
   font-size: 150%;
   font-weight: bold;
 }
#fromlabel{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: white;
}
#tolabel{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: white;
}
#selectlabel{
  text-align: center;
  font-size: 100%;
  font-weight: bold;
  color: white;
}
a{
  color: green;
}
.side{
  font-weight: bolder;
  align-self: center;
  text-align: center;
  font-size: 110%;
  text-emphasis-color: white;
}
 .from{
   text-align: center;
   font-size: 150%;
   font-weight: bold;
   color: white;
 }
 .to{
   text-align: center;
   font-size: 150%;
   font-weight: bold;
   color: white;
 }
