
#Welcome{
  text-align:center;
  font-family: Times;
  font-size: 300%;
  background-color: lemonchiffon;

}

#form1{
  align-self: center;
  text-align: center;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 45%;
}

body{
  background-color: lemonchiffon;
}

h1{
  align-self: center;
  text-align: center;
}

h2{
  h1{
    align-self: auto;
    text-align: left;
  }
}

/*.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.demo-container {
    padding: 0 1em;
}

.external-container {
    display: flex;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 12px 16px;
}*/
