
#Welcome{
  text-align:center;
  font-family: Times;
  font-size: 300%;
  background-color: lemonchiffon;
  color: black;
}

#form1{
  align-self: center;
  text-align: center;
  font-size: 200%;
}

.center {
  display: block;
  text-align: left;
  width: 80%;
  height: 110%;
}

table{
  border-spacing: 0px;
}
td{
  padding: "0px";
  padding-right: "0px";
  padding-left: "0px";
  border-spacing: "0px";
}
body{
  background-color: skyblue;
  color: white;
}

h1{
  align-self: center;
  text-align: center;
  font-size: 300%;
  color: Black;
  background-color: lemonchiffon;
}

h2{
    align-self: auto;
    text-align: left;
    font-size: 175%;
    color: Black;
}
p{
  font-weight: bolder;
  align-self: auto;
  text-align: left;
  font-size: 175%;
  color: Black;
}
#info{
  align-self: baseline;
  text-align: center;
  font-family: Times;
  font-size: 175%;
  font-weight: bold;
}
.workDays{
  text-align: center;
  color: black;
  font-size: 150%;
  font-weight: bold;
}
.options{
  text-align: center;
  color: black;
  font-size: 150%;
  font-weight: bold;
}
.from{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}
.to{
  text-align: center;
  font-size: 150%;
  font-weight: bold;
}

a{
  color: white;
}
.side{
  font-weight: bold;
  align-self: center;
  text-align: center;
  font-size: 100%;
  text-emphasis-color: white;
}
/*.demo-non-form {
    color: initial;
    width: 100%;
    padding: 10px;
    margin: 6px 0 12px 0;
    border: 1px solid #ccc;
    border-radius: 0;
    font-family: arial, verdana, sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    -webkit-appearance: none;
}

.demo-container {
    padding: 0 1em;
}

.external-container {
    display: flex;
}

.external-container button.external-button {
    font-weight: 400;
    padding: 10px;
    margin: 6px 0 12px 16px;
}*/
