<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness App Welcome</title>
    <link href="Static\welcome.css" rel="stylesheet" type="text/css"/>
    <script src ="Static\index.js"></script>
  </head>
  <h1 id="Welcome"> Welcome to the SJSU Fitness App </h1>
  <body class=whole>
    <form id="form1">
    <select name="list" id="list" accesskey="target">
    <option value='none' selected>Choose your Option</option>
    <option value="welcome.html">Register</option>
    <option value="signin.html">Sign In</option>
</select>
<input type=button value="Go" onclick="goToNewPage()" />
</form>
  </body>
</html>
