<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Page 2</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
    $( "#datepicker" ).datepicker();
    } );
    </script>
  </head>
  <body>
    <h1>Your Fitness Regime</h1>
    <p>
      Based on your selected goal: {{ user_Goals}}, here are some of the exercise types you should focus on:
      <br>
      {{examp}} {{examp2}}
    </p>

    <form class="workDays" action="mealp1.html" method="post">
      <label for="user_days">How many days a week would you like to work out?</label>
      <select name="user_days">
        <option value="zero">0</option>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
        <option value="seven">7</option>
      </select>
      <p>
      </p>
    </form>
    <p>Date: <input type="text" id="datepicker"></p>
    <form class="options" action="mealp1.html" method="post">
        <label for="user_exercise">Select your regime for this week</label>
        <select name="user_exercise" multiple>
          <option value="sunday">Sunday</option>
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
        </select>
        <p>
        </p>
        <input type="submit" value="Let's do meal planning!">
    </form>
  </body>
</html>
