<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Page 1</title>
    <script src ="Static\index.js"></script>
  </head>
  <body>
    <h1>Your body type: {{body_type}}</h1>
    <h2>
      Based on the body type you selected, here are some of your physical traits:
      <br>
      <img src={{information_body_type}} class="center">
    </h2>
    <h2>What would you like to improve on?</h2>
    <form class="options" action="fitnessp2.html" method="post">
      <label for="user_goal">Select your goal for this week</label>
      <select name="user_goal">
        <option value="Reduce fat">Reduce fat</option>
        <option value="Build muscle">Build Muscle</option>
        <option value="Increase strength">Increase Strength</option>
        <option value="Overall fitness">Overall fitness</option>
      </select>
      <input type="submit" value="Let's get started!">
  </form>
</body>
</html>
