<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Page 1</title>
    <link href="Static\welcome.css" rel="stylesheet" type="text/css"/>
    <script src ="Static\index.js"></script>
  </head>
  <body background= "https://images.squarespace-cdn.com/content/v1/5c3e172ae2ccd1394b3b01d0/1558372387896-6X3C2NW2HJO0V6J31Z67/ke17ZwdGBToddI8pDm48kGozge0JssKGV12Ztjp7mfx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UR48jWG-R1g7qmCaGJ1ESJjgMc-V930a-aAbZ05YzGFu0MGsjnBB8o_-7eT5B2mmyQ/SRAC-%28C%29+Kevin+Korczyk+-+38.jpg?format=1500w">
    <h1>Your Body Type: {{body_type}}</h1>
    <h2>
      Based on the body type you selected, here are some of your physical traits:
      <br>
      <br>
      <div>
       <table>
         <table>
           <tr>
             <td width="30%" align="center"><img src={{information_body_type}} class="center"></td>
             <td>{{text}}</td>
           </tr>
         </table>
    </div>
    </h2>
    <h2>What would you like to improve on?</h2>
    <form class="options" action="fitnessp2.html" method="post">
      <label for="user_goal">Select your goal for this week</label>
      <select name="user_goal">
        <option value="Reduce fat">Reduce fat</option>
        <option value="Build muscle">Build Muscle</option>
        <option value="Increase strength">Increase Strength</option>
        <option value="Overall fitness">Overall fitness</option>
      </select>
      <input type="submit" value="Let's get started!">
  </form>
</body>
</html>
