<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your body type</h1>
    <h2>
      Based on the body type you selected, here are some of the problem areas you might have:

    </h2>
    <h2>What would you like to improve on?</h2>
    <form class="options" action="fitnessp2.html" method="post">
        <label for="user_goal">Select your goal for this week</label>
        <select name="user_goal">
          <option value="fat">Reduce fat</option>
          <option value="muscle">Build Muscle</option>
          <option value="strength">Increase Strength</option>
          <option value="fitness">Overall fitness</option>

        </select>
        <input type="submit" value="Let's get started!">
    </form>
  </body>
</html>
