<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Page 2</title>
  </head>
  <body>
    <h1>Your Fitness Regime</h1>
    <p>
      Based on the goals your goal: {{ user_Goals}}, here are some of the exercise types you should focus on:

    </p>
    <h2>How many days a week would you like to work out?</h2>
    <form class="options" action="mealp1.html" method="post">
        <label for="user_exercise">Select your regime for this week</label>
        <select name="user_exercise">
          <option value="sunday">Sunday</option>
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
        </select>
        <p>
        </p>
        <input type="submit" value="Let's do meal planning!">
    </form>
  </body>
</html>
