<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness Page 2</title>
    <link href="Static\welcome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
  var dateFormat = "mm/dd/yy",
    from = $( "#from" )
      .datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        to.datepicker( "option", "minDate", getDate( this ) );
      }),
    to = $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3
    })
    .on( "change", function() {
      from.datepicker( "option", "maxDate", getDate( this ) );
    });

  function getDate( element ) {
    var date;
    try {
      date = $.datepicker.parseDate( dateFormat, element.value );
    } catch( error ) {
      date = null;
    }

    return date;
  }
} );
</script>
  </script>
  </head>
  <body background= "https://images.squarespace-cdn.com/content/v1/5c3e172ae2ccd1394b3b01d0/1558372387896-6X3C2NW2HJO0V6J31Z67/ke17ZwdGBToddI8pDm48kGozge0JssKGV12Ztjp7mfx7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UR48jWG-R1g7qmCaGJ1ESJjgMc-V930a-aAbZ05YzGFu0MGsjnBB8o_-7eT5B2mmyQ/SRAC-%28C%29+Kevin+Korczyk+-+38.jpg?format=1500w">
    <h1>Your Fitness Regimen</h1>
    <p>
      Based on your selected goal: {{ user_Goals}}, here are some of the exercise types you should focus on:
      <br>
      <br>
      {{examp}} <br> <br>
      {{examp2}}
    </p>

    <form class="workDays" action="/fitnessp2.html" method="post">
      <label for="user_days">How many days a week would you like to work out?</label>
      <select name="user_days">
        <option value="zero">0</option>
        <option value="one">1</option>
        <option value="two">2</option>
        <option value="three">3</option>
        <option value="four">4</option>
        <option value="five">5</option>
        <option value="six">6</option>
        <option value="seven">7</option>
      </select>
      <p>
      </p>
    </form>
<form class="options" action="/mealp1.html" method="post">
    <label for="from">From</label>
    <input type="text" id="from" name="From">
    <label for="to">to</label>
    <input type="text" id="to" name="To">
  </form>

    <form class="options" action="/mealp1.html" method="post">
        <label for="user_exercise">Select your regime for this week</label>
        <select name="user_exercise" multiple>
          <option value="sunday">Sunday</option>
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
        </select>
        <p>
        </p>
        <input type="submit" value="Let's do meal planning!">
    </form>
  </body>
</html>
