<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Your meal plan this week</h1>
    <p>
      Everyone has to eat the 5 food groups in order to maintain a healthy balanced lifestyle. We can help you plan this on a weekly basis so you don't have to worry about your calorie intake or meals for the rest of the week. You can focus on your studies and still eat right!

    </p>
    <h2>Here's the dining hall meal schedule for the month of {{blank}}</h2>
    <form class="options" action="mealp1.html" method="post">
        <label for="user_meals">Select your meals</label>
        <select name="user_meals">
          <option value="sunday">Sunday</option>
          <option value="monday">Monday</option>
          <option value="tuesday">Tuesday</option>
          <option value="wednesday">Wednesday</option>
          <option value="thursday">Thursday</option>
          <option value="friday">Friday</option>
          <option value="saturday">Saturday</option>
        </select>
        <p>
        </p>
        <input type="submit" value="Let's look at your plan for the week!">
    </form>
  </body>
</html>
