<!DOCTYPE html>
<!-- https://www.dineoncampus.com/sjsu/whats-on-the-menu -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Meal</title>
    <link href="Static\welcome.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
  var dateFormat = "mm/dd/yy",
    from = $( "#from" )
      .datepicker({
        defaultDate: "+1w",
        changeMonth: true,
        numberOfMonths: 3
      })
      .on( "change", function() {
        to.datepicker( "option", "minDate", getDate( this ) );
      }),
    to = $( "#to" ).datepicker({
      defaultDate: "+1w",
      changeMonth: true,
      numberOfMonths: 3
    })
    .on( "change", function() {
      from.datepicker( "option", "maxDate", getDate( this ) );
    });

  function getDate( element ) {
    var date;
    try {
      date = $.datepicker.parseDate( dateFormat, element.value );
    } catch( error ) {
      date = null;
    }

    return date;
  }
  } );
    </script>
  </head>
  <body>
    <h1>Your meal plan this week</h1>
    <p>
      Everyone has to eat the 5 food groups in order to maintain a healthy balanced lifestyle. We can help you plan this on a weekly basis so you don't have to worry about your calorie intake or meals for the rest of the week. You can focus on your studies and still eat right!
    </p>
    <!--Here's the dining hall meal schedule for the month of {{blank}} -->
    <h2>
       Click this <a href="https://www.dineoncampus.com/sjsu/whats-on-the-menu" target="_blank">link</a> to see the Commons Dining hall meal schedule for the month of {{blank}}!
       </h2>



    <form class="options" action="/summary.html" method="post">

    <label for="from">From</label>
    <input type="text" id="from" name="from">
    <label for="to">to</label>
    <input type="text" id="to" name="to">
    <br>
    <br>
        <label for="user_meals">Select your meals</label>
        <select name="user_meals">
          <option value="Sunday">Sunday</option>
          <option value="Monday">Monday</option>
          <option value="Tuesday">Tuesday</option>
          <option value="Wednesday">Wednesday</option>
          <option value="Thursday">Thursday</option>
          <option value="Friday">Friday</option>
          <option value="Saturday">Saturday</option>
        </select>
        <p>
        </p>
        <input type="submit" value="Let's look at your plan for the week!">
    </form>

  </body>
</html>
