<!DOCTYPE html>
<!-- https://www.dineoncampus.com/sjsu/whats-on-the-menu -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="Static\welcome.css" rel="stylesheet" type="text/css"/>
  <script src="index.js"></script>
  </head>
  <body>
   <form class="options" action="" method="post">
    <h1>Your health plan for the week!</h1>
    <p>
    </p>
    <h2>Here's your personalized fitness regimen: </h2>
      <p>
        {{regimen}}
      </p>
    <h2>Here's your personalized meal plan for the week: </h2>
      <p>
        Your meal plan starts on: <br>
        {{mealstart}} <br>
        Your meal plan ends on: <br>
        {{mealend}} <br>
        Hopefully you picked good food
      </p>
  <a href="/">Click here to go home</a>
    </form>
  </body>
</html>
