<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fitness App Welcome</title>
    <link href="..\Static\welcome.css" rel="stylesheet" type="text/css"/>
  </head>
  <h1 id="Welcome"> Welcome to the SJSU Fitness App </h1>
  <body>
    <form id= "info" method ="post" >
      Create Username:<br>
      <input type="text" name="username" value="Username Here">
      <br>
      <br>
      Create Password:<br>
      <input type="text" name="password" value="Password">
      <br>
      <br>
      Enter Sex:<br>
      <input type="text" name="user-sex" value="Gender Here">
      <br>
      <br>
      Body Type:<br>
      <select name = "user-BodyType">
        <option value="Ectomorph">Ectomorph</option>
        <option value="Mesomorph">Mesomorph</option>
        <option value="Endomorph">Endomorph</option>
      </select>
      <br>
      Don't know your body type? Take this <a href="https://www.bodybuilding.com/fun/becker3.htm" target="_blank">quiz</a>!
      <br>
      <br>
      What do you want to do?<br>
       <select name="action">
        <option value="Fitness-plan">See A Fitness Plan</option>
        <option value="Meal_Plan">See A Meal Plan that you can use in the Commons</option>
        <!--<option value="Info">See info</option> -->
        </select>
      <input type="submit" value="Go!">
    </form>
  </body>
</html>
